<!-- begin header -->

<nav class="header navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="logo-box" href=""><img src="images/logo1.png" alt="logo" height="45" width="160"></a>
      <a class="navbar-brand" href="#">
        统一接口管理平台
      </a>
      <ul class="nav pull-right">
        <li class="dropdown user">
          <a class="dropdown-toggle" href="javascript: void(0)" data-toggle="dropdown">
            <span class="username">后台管理员</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-user"></i> 我的账户</a></li>
            <li><a href="#"><i class="fa fa-cog"></i> 设置</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-power-off"></i> 退出</a></li>
          </ul>
        </li>
        <!--<li class="dropdown user">
          <a href="#"><i class="fa fa-power-off"></i> 退出</a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>  

<!-- end header -->